#badges {
    margin-bottom: 3rem;
    text-align: center;
}

#item-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: "0.6rem",
}

#item-1 {
    position: relative;
    height: auto;
    text-align: center;
    margin-top: 3%;
    background-size: cover;
}