.ApplicationStatusStyle {
    height: auto;
    background-color: #898d91;
    /* margin-top: 10px; */
    margin: 1%;
    /* display: flex; */
    text-align: center;
}

.tableStyle {
    /* margin-top: 10px; */
    text-align: center;
}

.UserEfficiencyStyle {
    height: 500px;
    background-color: #898d91;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    /* margin: 1%; */
    /* display: flex; */
    text-align: center;
}

.UserRanksStyle {
    height: 500px;
    background-color: #898d91;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.UserRequestsHeaderStyle {
    background-color: #bbd5ee;
    margin: 1%;
    text-align: center;
}