.ApplicationStatusStyle {
    height: 1000px;
    background-color: #898d91;
    margin: 1%;
    /* display: flex; */
    text-align: center;
  }

  .UserEfficiencyStyle {
    height: 1000px;
    background-color: #898d91;
    margin: 1%;
    /* display: flex; */
    text-align: center;
  }

  .UserRanksStyle {
    height: 1000px;
    background-color: #898d91;
    margin: 1%;
    text-align: center;
  }

  .UserRequestsHeaderStyle {
    background-color: #bbd5ee;
    margin: 1%;
    text-align: center;
  }

 